In [2]:
!pip install pandas
import pandas as pd
Data_Train=pd.read_csv("Data_Train.csv")
Data_Train.head()

Requirement already satisfied: pandas in c:\users\boluw\appdata\local\programs\python\python311\lib\site-packages (1.5.3)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\boluw\appdata\roaming\python\python311\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\boluw\appdata\local\programs\python\python311\lib\site-packages (from pandas) (2022.7.1)
Requirement already satisfied: numpy>=1.21.0 in c:\users\boluw\appdata\local\programs\python\python311\lib\site-packages (from pandas) (1.24.2)
Requirement already satisfied: six>=1.5 in c:\users\boluw\appdata\roaming\python\python311\site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)

[notice] A new release of pip available: 22.3.1 -> 23.1
[notice] To update, run: python.exe -m pip install --upgrade pip

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price
0,IndiGo,24/03/2019,Banglore,New Delhi,BLR → DEL,22:20,01:10 22 Mar,2h 50m,non-stop,No info,3897
1,Air India,1/05/2019,Kolkata,Banglore,CCU → IXR → BBI → BLR,05:50,13:15,7h 25m,2 stops,No info,7662
2,Jet Airways,9/06/2019,Delhi,Cochin,DEL → LKO → BOM → COK,09:25,04:25 10 Jun,19h,2 stops,No info,13882
3,IndiGo,12/05/2019,Kolkata,Banglore,CCU → NAG → BLR,18:05,23:30,5h 25m,1 stop,No info,6218
4,IndiGo,01/03/2019,Banglore,New Delhi,BLR → NAG → DEL,16:50,21:35,4h 45m,1 stop,No info,13302

In [3]:
import numpy as np
Data_Train_cat = Data_Train.select_dtypes(object)
Data_Train_num = Data_Train.select_dtypes(np.number)
print(Data_Train_cat.head())
print(Data_Train.head())

       Airline Date_of_Journey    Source Destination                  Route  \
0       IndiGo      24/03/2019  Banglore   New Delhi              BLR → DEL
1    Air India       1/05/2019   Kolkata    Banglore  CCU → IXR → BBI → BLR
2  Jet Airways       9/06/2019     Delhi      Cochin  DEL → LKO → BOM → COK
3       IndiGo      12/05/2019   Kolkata    Banglore        CCU → NAG → BLR
4       IndiGo      01/03/2019  Banglore   New Delhi        BLR → NAG → DEL

  Dep_Time  Arrival_Time Duration Total_Stops Additional_Info
0    22:20  01:10 22 Mar   2h 50m    non-stop         No info
1    05:50         13:15   7h 25m     2 stops         No info
2    09:25  04:25 10 Jun      19h     2 stops         No info
3    18:05         23:30   5h 25m      1 stop         No info
4    16:50         21:35   4h 45m      1 stop         No info
       Airline Date_of_Journey    Source Destination                  Route  \
0       IndiGo      24/03/2019  Banglore   New Delhi              BLR → DEL
1    Air India       1/05/2019   Kolkata    Banglore  CCU → IXR → BBI → BLR
2  Jet Airways       9/06/2019     Delhi      Cochin  DEL → LKO → BOM → COK
3       IndiGo      12/05/2019   Kolkata    Banglore        CCU → NAG → BLR
4       IndiGo      01/03/2019  Banglore   New Delhi        BLR → NAG → DEL

  Dep_Time  Arrival_Time Duration Total_Stops Additional_Info  Price
0    22:20  01:10 22 Mar   2h 50m    non-stop         No info   3897
1    05:50         13:15   7h 25m     2 stops         No info   7662
2    09:25  04:25 10 Jun      19h     2 stops         No info  13882
3    18:05         23:30   5h 25m      1 stop         No info   6218
4    16:50         21:35   4h 45m      1 stop         No info  13302

In [4]:
Data_Train_cat.drop(['Additional_Info'], axis=1, inplace=True)
print(Data_Train_cat)

           Airline Date_of_Journey    Source Destination  \
0           IndiGo      24/03/2019  Banglore   New Delhi
1        Air India       1/05/2019   Kolkata    Banglore
2      Jet Airways       9/06/2019     Delhi      Cochin
3           IndiGo      12/05/2019   Kolkata    Banglore
4           IndiGo      01/03/2019  Banglore   New Delhi
...            ...             ...       ...         ...
10678     Air Asia       9/04/2019   Kolkata    Banglore
10679    Air India      27/04/2019   Kolkata    Banglore
10680  Jet Airways      27/04/2019  Banglore       Delhi
10681      Vistara      01/03/2019  Banglore   New Delhi
10682    Air India       9/05/2019     Delhi      Cochin

                       Route Dep_Time  Arrival_Time Duration Total_Stops
0                  BLR → DEL    22:20  01:10 22 Mar   2h 50m    non-stop
1      CCU → IXR → BBI → BLR    05:50         13:15   7h 25m     2 stops
2      DEL → LKO → BOM → COK    09:25  04:25 10 Jun      19h     2 stops
3            CCU → NAG → BLR    18:05         23:30   5h 25m      1 stop
4            BLR → NAG → DEL    16:50         21:35   4h 45m      1 stop
...                      ...      ...           ...      ...         ...
10678              CCU → BLR    19:55         22:25   2h 30m    non-stop
10679              CCU → BLR    20:45         23:20   2h 35m    non-stop
10680              BLR → DEL    08:20         11:20       3h    non-stop
10681              BLR → DEL    11:30         14:10   2h 40m    non-stop
10682  DEL → GOI → BOM → COK    10:55         19:15   8h 20m     2 stops

[10683 rows x 9 columns]

In [5]:
Data_Train_cat.isnull().sum()

Airline            0
Date_of_Journey    0
Source             0
Destination        0
Route              1
Dep_Time           0
Arrival_Time       0
Duration           0
Total_Stops        1
dtype: int64

In [6]:
Data_Train_cat.Route.fillna(Data_Train_cat.Route.value_counts().idxmax(), inplace=True)
Data_Train_cat.Total_Stops.fillna(Data_Train_cat.Total_Stops.value_counts().idxmax(), inplace=True)

In [7]:
Data_Train_cat.isnull().sum()

Airline            0
Date_of_Journey    0
Source             0
Destination        0
Route              0
Dep_Time           0
Arrival_Time       0
Duration           0
Total_Stops        0
dtype: int64

In [8]:
!pip install scikit-learn
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
Data_Train_cat = Data_Train_cat.apply(le.fit_transform)

Requirement already satisfied: scikit-learn in c:\users\boluw\appdata\local\programs\python\python311\lib\site-packages (1.2.1)
Requirement already satisfied: numpy>=1.17.3 in c:\users\boluw\appdata\local\programs\python\python311\lib\site-packages (from scikit-learn) (1.24.2)
Requirement already satisfied: scipy>=1.3.2 in c:\users\boluw\appdata\local\programs\python\python311\lib\site-packages (from scikit-learn) (1.10.1)
Requirement already satisfied: joblib>=1.1.1 in c:\users\boluw\appdata\local\programs\python\python311\lib\site-packages (from scikit-learn) (1.2.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\boluw\appdata\local\programs\python\python311\lib\site-packages (from scikit-learn) (3.1.0)

[notice] A new release of pip available: 22.3.1 -> 23.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [9]:
Data_Train_num.isnull().sum()

Price    0
dtype: int64

In [12]:
Data_Train_final = pd.concat([Data_Train_cat,Data_Train_num],axis=1)
Data_Train_final.head()

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Price
0,3,24,0,5,18,211,233,240,4,3897
1,1,6,3,0,84,31,906,336,1,7662
2,4,43,2,1,118,70,413,106,1,13882
3,3,10,3,0,91,164,1324,311,0,6218
4,3,0,0,5,29,149,1237,303,0,13302

In [13]:
X = Data_Train_final.drop(['Price'], axis=1)
Y = Data_Train_final['Price']

In [14]:
X_train = np.array(X[0:int(0.80*len(X))])
Y_train = np.array(Y[0:int(0.80*len(Y))])
X_test = np.array(X[int(0.80*len(X)):])
Y_test = np.array(Y[int(0.80*len(Y)):])
len(X_train), len(Y_train), len(X_test), len(Y_test)

(8546, 8546, 2137, 2137)

In [15]:
from sklearn.svm import LinearSVC
from sklearn.svm import SVC
from sklearn.ensemble import RandomForestClassifier

In [16]:
LSVM = LinearSVC()
NLSVM = SVC(kernel='rbf')
RF = RandomForestClassifier()

In [23]:
LSVM_fit = LSVM.fit(X_train, Y_train)
NLSVM_fit = NLSVM.fit(X_train, Y_train)
RF_fit = RF.fit(X_train, Y_train)

c:\Users\boluw\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\svm\_base.py:1244: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  warnings.warn(

In [24]:
LSVM_pred = LSVM_fit.predict(X_test)
NLSVM_pred = NLSVM_fit.predict(X_test)
RF_pred = RF_fit.predict(X_test)

In [25]:
from sklearn.metrics import accuracy_score
print("Linear SVMs is %f percent accurate" % (accuracy_score(LSVM_pred, Y_test)*100))
print("Non Linear SVMs is %f percent accurate" % (accuracy_score(NLSVM_pred, Y_test)*100))
print("Random Forests is %f percent accurate" % (accuracy_score(RF_pred, Y_test)*100))

Linear SVMs is 0.233973 percent accurate
Non Linear SVMs is 5.755732 percent accurate
Random Forests is 28.170332 percent accurate

In [26]:
from sklearn.model_selection import train_test_split
from sklearn.model_selection import KFold
seed=0
cv = KFold(n_splits=5,random_state=2, shuffle=True)

In [27]:
def return_score(model,X_train, X_test, y_train, y_test):
   model.fit(X_train, y_train)
   score = model.score(X_test, y_test)
   return score
scores = []

In [31]:
model = RandomForestClassifier()
for train_index, test_index in cv.split(X,Y):
   X_train, X_test, y_train, y_test = train_test_split(X,Y,test_size=0.2)
   score = return_score(model,X_train, X_test, y_train, y_test)   
   scores.append(score)
print("Accuracy score in each iteration: {}".format(scores))
print("K-Fold Score: {}".format(np.mean(scores)))

Accuracy score in each iteration: [0.2676649508656996, 0.2732802994852597, 0.27234440804866633, 0.2817033224145999, 0.27842770238652315, 0.004211511464670099, 0.003275620028076743, 0.003275620028076743, 0.005147402901263453, 0.005147402901263453, 0.055217594759007955, 0.05615348619560131, 0.06551240056153486, 0.058961160505381374, 0.05615348619560131, 0.24988301357042583, 0.2686008423022929, 0.2676649508656996, 0.27468413664014973, 0.28076743097800655]
K-Fold Score: 0.15140383715489

In [32]:
from sklearn.model_selection import train_test_split
from sklearn.model_selection import StratifiedKFold
cv = StratifiedKFold(n_splits=5,random_state=2, shuffle=True)

In [33]:
model = RandomForestClassifier()
for train_index, test_index in cv.split(X,Y):
   X_train, X_test, y_train, y_test = train_test_split(X,Y,test_size=0.2)
   score = return_score(model,X_train, X_test, y_train, y_test)   
   scores.append(score)
print("Accuracy score in each iteration: {}".format(scores))
print("Stratified K-Fold Score: {}".format(np.mean(scores)))

c:\Users\boluw\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\model_selection\_split.py:700: UserWarning: The least populated class in y has only 1 members, which is less than n_splits=5.
  warnings.warn(

Accuracy score in each iteration: [0.2676649508656996, 0.2732802994852597, 0.27234440804866633, 0.2817033224145999, 0.27842770238652315, 0.004211511464670099, 0.003275620028076743, 0.003275620028076743, 0.005147402901263453, 0.005147402901263453, 0.055217594759007955, 0.05615348619560131, 0.06551240056153486, 0.058961160505381374, 0.05615348619560131, 0.24988301357042583, 0.2686008423022929, 0.2676649508656996, 0.27468413664014973, 0.28076743097800655, 0.26017781937295276, 0.28497894244267663, 0.27421619092185306, 0.26204960224613943, 0.29340196537201685]
Stratified K-Fold Score: 0.1761160505381376