In [1]:
!pip install pandas
import pandas as pd
diabetes_prediction=pd.read_csv('diabetes_prediction.csv')
diabetes_prediction.head()

Requirement already satisfied: pandas in c:\users\boluw\appdata\local\programs\python\python311\lib\site-packages (1.5.3)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\boluw\appdata\roaming\python\python311\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\boluw\appdata\local\programs\python\python311\lib\site-packages (from pandas) (2022.7.1)
Requirement already satisfied: numpy>=1.21.0 in c:\users\boluw\appdata\local\programs\python\python311\lib\site-packages (from pandas) (1.24.2)
Requirement already satisfied: six>=1.5 in c:\users\boluw\appdata\roaming\python\python311\site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)

[notice] A new release of pip available: 22.3.1 -> 23.1.2
[notice] To update, run: python.exe -m pip install --upgrade pip

,gender,age,hypertension,heart_disease,smoking_history,bmi,HbA1c_level,blood_glucose_level,diabetes
0,Female,80.0,0,1,never,25.19,6.6,140,0
1,Female,54.0,0,0,No Info,27.32,6.6,80,0
2,Male,28.0,0,0,never,27.32,5.7,158,0
3,Female,36.0,0,0,current,23.45,5.0,155,0
4,Male,76.0,1,1,current,20.14,4.8,155,0

In [2]:
import numpy as np
diabetes_prediction_cat = diabetes_prediction.select_dtypes(object)
diabetes_prediction_num = diabetes_prediction.select_dtypes(np.number)
print(diabetes_prediction_cat.head())
print(diabetes_prediction_num.head())

   gender smoking_history
0  Female           never
1  Female         No Info
2    Male           never
3  Female         current
4    Male         current
    age  hypertension  heart_disease    bmi  HbA1c_level  blood_glucose_level  \
0  80.0             0              1  25.19          6.6                  140
1  54.0             0              0  27.32          6.6                   80
2  28.0             0              0  27.32          5.7                  158
3  36.0             0              0  23.45          5.0                  155
4  76.0             1              1  20.14          4.8                  155

   diabetes
0         0
1         0
2         0
3         0
4         0

In [ ]:
diabetes_prediction_cat.drop(['Name','Ticket'], axis=1, inplace=True)
print(diabetes_prediction_cat)